# don't track contents of these folders
data/robintrack
data/historic
data/twitter
scratch/

# don't track senstitive files
config.ini
sqlite.db

# don't track these extensions
**/*.DS_Store
**/__pycache__