# don't track contents of these folders
store/robintrack/**
store/historic/**
store/twitter/**
store/backups/**
store/temp/**

# don't track senstitive files
credentials.ini
**/*.db
*.tlg

# don't track these scratch files
test.py

# don't track these extensions
**/*.DS_Store
**/__pycache__
**/*.vscode