/*


color template -> https://blueprintjs.com/docs/#core/colors

dash examples
https://github.com/plotly/dash-app-stylesheets/blob/master/dash-uber-ride-demo.css
https://github.com/plotly/dash-sqlite-uber-rides-demo/blob/master/uberDatabase.py

Tabs styling -> https://dash.plotly.com/dash-core-components/tabs

*/

Label {
    color: #B4886B;
    font-weight: bold;
    width: 150px;
}
